* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-title p {
    font-family: 'Amatic SC', sans-serif;
}

:root {
    --color-default: #212529;
    --color-secondary: #37373f;
    --color-tertiary: #7f7f 90;
    --color-light: hsl(var(--light-hue), var(--light-saturation), var(--light-lightness));
    --color-light-grey: #eee;
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --animation-duration: 400ms;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 90%;
    margin: auto;
}

.header h1::after,
.logo::after {
    content: '.';
    color: #e61414;
}

.main-title {
    text-align: center;
}

.main-title h2 {
    color: #7f7f90;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.main-title p {
    font-size: 3.125rem;
    font-family: var(--font-primary);
}

.main-title p span {
    color: #CE1212;
}

#contact,
#chef,
#gallery,
#footer {
    margin-top: 50px;
}


/********** header section **********/

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5px;
}


.header .nav-links ul {
    display: flex;
    color: #7f7f90;
    gap: 25px;
}

.header .nav-links ul li a {
    color: #7f7f90;
    position: relative;
    transition: all .3s;
}

@media (max-width:767px) {
    .header .nav-links ul {
        display: none;
    }
}


.header .nav-links ul li .active::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ce1212;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.header .nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #ce1212;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .4s;
}

.header .nav-links ul li a:hover::after {
    width: 100%;

}

.header .nav-links ul li a:hover {
    color: #000;
}


.header .nav-links ul li .active {
    color: #000;
}

.header .header-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

@media screen and (min-width:767px) {
    .header-icons .fa-bars{
        display: none;
    }
}

.mode-group i {
    cursor: pointer;
    font-size: 25px;
}


/********** header section **********/


/********** home section **********/
#home {
    background-color: #eee;
}

#home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

@media screen and (max-width: 900px) {
    #home .container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    #home .home-content,
    #home .home-img {
        min-width: 100%;
        text-align: center;
    }
    
    #home .home-content .btn-group{
        justify-content: center;
    }
    #home .home-content h2 {
        font-size: 50px;
        text-align: center;
    }
  
}

#home .home-content,
#home .home-img {
    width: 40%;
}

#home .home-content h2 {
    color: #37373f;
    font-family: "Amatic SC", sans-serif;
    font-size: 65px;
    text-align: start;
}

#home .home-content p {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 16px;
    color: #4f4f5a;
}

#home .home-content .btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

#home .home-content .btn-main {
    padding: 10px 20px;
    background-color: #e61414;
    border-radius: 0px 10px 10px 10px;
    border: none;
    transition: all 0.3;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

#home .home-content .btn-main:hover {
    background-color: #ff0f0f;
}


#home .btn-group .video-btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color var(--animation-duration);
}

#home .btn-group .video-btn {
    color: black;
}

#home .btn-group .video-btn .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: linear-gradient(to right, red 0 50%, transparent 50% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 5px;
    position: relative;
}


.video-btn .icon::before {
    content: "";
    background-color: #fff;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
}

#home .btn-group .video-btn:hover {
    color: #ff0f0f;
}

#home .btn-group .video-btn .icon i {
    z-index: 10;
}

#home .home-img img {
    width: 100%;
    text-align: center;
    filter: drop-shadow(10px 10px 10px #777);
}

#home .home-img img:hover {
    -webkit-animation: shake 1s infinite;
}

@-webkit-keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#home .btn-main {
    padding: 10px 25px;
    border-radius: 0 10vh 10px 10px;
}

/********** home section  **********/

/********** chef section  **********/
#chef .chef-cards {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


#chef .chef-cards .card {
    width: calc(33.3333333% - 30px);
    text-align: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 400ms;
}

@media screen and (max-width: 992px) {
    #chef .chef-cards .card {
        width: calc(50% - 30px);
    }

}

@media screen and (max-width: 767px) {
    #chef .chef-cards .card {
        width: 100%;
    }
}

#chef .card .card-content {
    border-radius: 10px;
    padding: 20px
}

#chef .chef-cards .card-img {
    position: relative;
}

#chef .chef-cards .card .social-box ul {
    background-color: rgba(255, 255, 255, 0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1.875rem;
    right: -3.125rem;
    transition: all 400ms;

}

#chef .chef-cards .card .social-box ul li a i:hover {
    color: #4F4F5A;
    border: 1px solid #ce1212;
}

#chef .chef-cards .card:hover {
    transform: scale(1.07);
}

#chef .chef-cards .card:hover ul {
    right: 10px;
}


#chef .chef-cards .card .social-box ul i {
    font-size: 18px;
    color: rgba(55, 55, 63, 0.4);
    padding: 10px 5px;
}

#chef .chef-cards .card img {
    width: 100%;
}

#chef .chef-cards .card-img::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url(img/team-shape.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 3.75rem;
}

#chef .chef-cards .card span {
    font-size: 0.875rem;
    color: #7f7f90;
    margin: 5px 0 10px 0;
}

#chef .chef-cards .card p {
    font-size: 0.9375rem;
    font-style: italic;
    color: #7f7f90;
    padding: 10px;
}

/********** chef section **********/

/********** gallery section **********/

#gallery {
    background-color: #eee;
}

#gallery .container {
    padding: 40px 5px;
}


#gallery .gallery-photos {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#gallery .gallery-photos .product {
    width: 30%;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    #gallery .gallery-photos .product {
        width: 100%;
    }
}

.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product img {
    width: 100%;

}

.product-info {
    position: relative;
    overflow: hidden;
    border: solid 4px #fff;
}

.gallery-photos .layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100%;
    z-index: 99;
    padding: 15px;
    gap: 5px;
    transition: all 400ms;
}


#gallery .product-info:hover .layer {
    top: 0;

}

.gallery-photos .layer p,
h2 {
    color: #fff;
    text-align: center;
}

/********** gallery section **********/
/********** contact section **********/

#contact iframe {
    width: 100%;
    height: 350px;
}

#contact .details {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

#contact .details>div {
    width: calc(50% - 10px);
    display: flex;
    background-color: #F5F5F5;
    padding: 25px;
}

@media screen and (max-width: 767px) {
    #contact .details>div {
        width: 100%;
    }
}

#contact .details>div .icon {
    min-width: 50px;
    min-height: 50px;
    background-color: #ce1212;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#contact .details>div h3 {
    color: #7d7d7d;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

#contact .details>div p,
#contact .details>div a {
    color: #7d7d7d;
    font-weight: 700;
}


.contact-form {
    background-color: var(--color-light);
    padding: 20px;
    box-shadow: 0 0 1.875rem #00000014;
    margin: 30px 5px;
}

input {
    width: calc(50% - 10px);
    padding: 15px;
    border: 2px solid #ccc;
}

@media screen and (max-width: 992px) {
    input {
        width: 100%;
        margin-top: 15px;
    }
}

.first-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


.sec-row input {
    margin-top: 15px;
    width: 100%;
}

.form-control {
    margin-top: 15px;
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;

}

.submit-btn {
    display: flex;
    justify-content: center;
}

.submit-btn button {
    margin-top: 25px;
    background-color: #ce1212;
    border-color: #ce1212;
    border-radius: 25px;
    color: #ffffff;
    opacity: 1;
    padding: 12px 40px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.submit-btn button:hover {
    background-color: RGB(236, 36, 3);
}

/********** gallery section **********/


#footer {
    background-color: black;
}

#footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 5px;
    color: white;
}



#footer .about {
    width: 25%;
}

@media screen and (max-width: 992px) {
    #footer .about {
        min-width: 45%;
        order: 1;
    }

    #footer .contact-details {
        min-width: 45%;
        order: 2;
    }

    #footer .subscription {
        min-width: 100%;
        order: 3;
    }

    #footer .subscription .subscription-group button {
        margin-top: 15px;
    }

}

@media screen and (max-width: 767px) {

    #footer .about {
        min-width: 100%;
    }

    #footer .contact-details {
        min-width: 100%;
    }

    #footer .subscription {
        min-width: 100%;
    }

}

#footer .about .footer-logo {
    display: flex;
    align-items: center;
}

#footer .about img {
    width: 40px;
}

#footer .about h2 {
    margin-left: 10px;
    font-size: 30px;
}

#footer .about p {
    margin: 10px 0;

}

#footer .about h3 {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ddd6;
    margin-bottom: 10px;
}

#footer .about .social-links {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#footer .about .social-links i {
    font-size: 24px;
    color: #fff;
    font-weight: 400px;
}


#footer .subscription {
    width: 42%;
}

#footer .subscription p {
    padding: 10px 0;
}

#footer .subscription .subscription-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#footer .subscription .subscription-group input {
    flex-grow: 1;
    padding: 10px;
}

#footer .subscription .subscription-group button {
    background-color: #ce1212;
    border: none;
    border-radius: 0;
    padding: 10px;
    min-width: 110px;
    margin-left: 5px;
    color: #fff;
    transition: all 3s;
}

#footer .subscription .subscription-group button:hover {
    background-color: RGB(236, 36, 3);
}


#footer .subscription .quick-links ul {
    margin-top: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#footer .subscription .quick-links ul li {
    width: calc(50% - 1rem);
    padding: 10px;
    transition: 400ms;
}

#footer .subscription .quick-links ul li:hover {
    transform: translateX(10px);
    background-color: #222;
}

#footer .subscription .quick-links ul li::before {
    content: "\f105";
    font: var(--fa-font-solid);
    margin-right: 5px;
}

#footer .contact-details {
    width: 25%;
}

#footer .contact-details h3 {
    margin-bottom: 10px;
}

#footer .contact-details ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

#footer .contact-details ul li i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ce1212;
    font-size: 22px;
    cursor: pointer;
}